<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3>Reset Password</h3>
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
          <!-- Email -->
          <div class="mb-3">
            <mat-form-field appearance="fill">
              <mat-label>Enter your email <mat-icon>email</mat-icon></mat-label>
              <input matInput placeholder="pat@example.com" formControlName="email" required class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" >
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <mat-error *ngIf="f.email.errors.required">Email is required</mat-error>
                  <mat-error *ngIf="f.email.errors.email">Email must be a valid email address</mat-error>
              </div>
            </mat-form-field>
          </div>
          
            
            <button type="submit" class="btn btn-primary">Reset Password</button>
            <br>
            <button [routerLink]="['/login']">Back to Log in</button>
        </form>
    </div>
</div>
