.u-section-1 {
  background-image: url("images/5dc350fb8ef7a2c3dbdb1e3d4bc44083.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 634px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 634px;
}

.u-section-1 .u-container-layout-1 {
  padding: 12px 0;
}

.u-section-1 .u-text-1 {
  font-size: 5.8125rem;
  text-shadow: -2px 2px 8px rgba(119,170,217,1);
  font-weight: 900;
  margin: 152px 0 0 46px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 634px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  width: 374px;
  margin: 92px auto 0;
}

.u-section-1 .u-form-1 {
  height: 313px;
  width: 463px;
  margin: 0 auto;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-text-3 {
  width: 374px;
  margin: 0 auto;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 540px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 67px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 523px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    width: 360px;
  }

  .u-section-1 .u-form-1 {
    width: 360px;
  }

  .u-section-1 .u-text-3 {
    width: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 512px;
  }

  .u-section-1 .u-layout-cell-1 {
    order: 1;
  }

  .u-section-1 .u-layout-cell-2 {
    order: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 65px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 50px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 963px;
}

.u-section-2 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 840px;
  margin: 0 auto 60px;
}

.u-section-2 .u-image-1 {
  background-image: url("images/Untitled-2-min.png");
  background-position: 50% 50%;
  min-height: 445px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 441px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.75rem;
  animation-duration: 1000ms;
  margin: 36px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  line-height: 2;
  animation-duration: 1000ms;
  margin: 20px 0 0;
}

.u-section-2 .u-text-3 {
  animation-duration: 1000ms;
  margin: 20px 174px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 283px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 620px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  height: 285px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-4 {
  text-transform: none;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  letter-spacing: 0px;
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-2 .u-icon-1 {
  height: 53px;
  width: 53px;
  background-image: none;
  margin: 30px auto 0;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1518px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-image-1 {
    min-height: 789px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 469px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    height: 503px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1204px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    min-height: 592px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 352px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 396px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 855px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    min-height: 373px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.125rem;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 222px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-2 {
    height: 264px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.75rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 539px;
}

.u-section-3 .u-text-1 {
  width: 740px;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  width: 740px;
  margin: 20px auto 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  height: auto;
  width: 1140px;
  margin: 20px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 315px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  margin: 30px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 1px 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  margin: 30px 0 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 1px 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-7 {
  margin: 30px 0 0;
}

.u-section-3 .u-text-8 {
  margin: 20px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 820px;
  }

  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }
}